.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

.vertical-divider {
  border-left: 1px solid #032241; /* Use solid color or adjust as needed */
  width: 10px;
  height: 100%; /* Match height of columns */
}

.card {
  height: 100%;
}

.card-body {
  height: 100%;
  padding: 0; /* Remove padding to fit the editor */
}

.card-header {
  size: fill;
}

#editor {
  height: 100%;
  width: 100%;
  border: none; /* Remove border of the textarea */
  outline: none; /* Remove outline */
  padding: 10px; /* Add padding inside the editor */
  min-height: 25rem; 
  font-size:20px;
  /* line-height: normal; */
  line-height: 250%;
  
}

#editor u {
  color: red;
  text-underline-offset: 8px;
  

}

.word-suggestions {
  margin: 10px;
}

.btn-sug {
  margin: 5px;
}

/* 
.custom-popover .popover-header {
  font-weight: bold;
  border-bottom: 1px solid #385674;
  padding: 0.5rem 1rem;
}

.custom-popover .popover-body i {
  margin: 5px;
  
}

.custom-popover .popover-body {
  font-family: var(--bs-font-sans-serif);
  font
}

.custom-popover .popover-body {
  padding: 10px;
}

.custom-popover .popover-footer {
  padding: 0.5rem 10rem;
  color: #000000;
  background-color: rgb(66, 70, 75);
} */
